@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 216, 172);
}

.title {
  margin: auto;
  font-family: 'Fredoka One', cursive;
  font-size: 100px;
  text-align: center;
  color: rgb(196, 71, 245);
  padding-top: 40px;
  text-shadow: 5px 2px 5px black;
}

.sub-title {
  display: block;
  width: 400px;
  margin: auto;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  font-style: italic;
}

.calc-body {
  margin-top: 20px;
  border: 1px solid black;
  width: 500px;
  height: 600px;
  /* positioning */
  position: absolute;
  top: 200px;
  left: calc(50% - 250px);
  border-radius: 15px;
  background-color: rgb(41, 41, 41);
  box-shadow: 5px 5px 5px black;
}

.calc-body::after {
  border-radius: 15px;
  content: '';
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  box-shadow: inset 5px 5px 5px rgb(131, 131, 131);
}

.result-display {
  border-left: 1px solid rgb(41, 41, 41);
  border-radius: 10px;
  height: 100px;
  margin: 25px 30px;
  padding-bottom: 10px;
  background-color: rgb(194, 255, 229);
  box-shadow: -5px 0 5px rgb(131, 131, 131);
}

.input-display {
  background-color: rgb(194, 255, 229);
  width: 95%;
  border: none;
  font-size: 25px;
  text-align: end;
  margin: 5px 5px 0;
}

.aggregate-display {
  text-align: end;
  padding: 0 10px;
  font-size: 60px;
}

.button-container {
  height: 440px;
  display: grid;
  grid-template-columns: 90px 90px 90px 90px 90px;
  grid-template-rows: repeat(4, 90px);
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.btn {
  position: relative;
  border-radius: 10px;
  height: 70px;
  width: 70px;
  font-size: 30px;
  border-right-width: 5px;
  box-shadow: 3px 0 1px rgba(200, 0, 0, 1);
}


/* .btn::after {
  border-radius: 10px;
  content: '';
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
} */